<header>
  <h1>Railsdex</h1>
  <p>Your Electronic Pokémon Encyclopedia</p>
</header>

<nav>
  <a href="#">Home</a>
</nav>

<main>
  <%= image_tag "railsdex_home.jpg", class: "home-background" %>
</main>

<footer>
  <p>&copy; 2025 Railsdex - Powered by Ruby on Rails and brought to you by <a href="https://itfromhell.net" target="_blank">IT from Hell</a></p>
</footer>