<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pokemon.description %>
  </p>

  <p>
    <strong>Captured:</strong>
    <%= pokemon.captured %>
  </p>

</div>
